body {
	font-family: "ff-meta-web-pro", sans-serif !important;
}

.side-header-content {
	position: fixed;
	padding-top: 40px;
}

.post {
	padding-top: 10px;
}

.site-footer {
	padding-bottom: 100px;
}