body {
	font-family: "ff-meta-web-pro", sans-serif !important;
}

.site-title {
	font-size: 2.0em !important;
	color: #333 !important;
}

.site-title:hover {
	text-decoration: none !important;
	color: #428bc !important;
}

.side-header-content {
	position: fixed;
	padding-top: 40px;
}

.site-nav {
	margin-top: 30px !important;
}

.post {
	padding-top: 20px;
}

.site-footer {
	padding-bottom: 100px;
}